.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/local.properties
android/.gradle/
android/app/build/
.idea/
.vscode/
*.iml
google-services.json
lib/firebase_options.dart